/* Couleurs principales */
:root{
  --main-color: #C82B08;
  --main-color-hover: #ff5732;
  --main-color-light: #ff5900;
  --main-color-transparent: #c82b0828;
  --second-color: #F8F9FA;
  --second-color-hover: #edeff1;
}

/* Généralités */
a{
  color: var(--main-color);
}
a:hover{
  color: var(--main-color-hover);
}
p{
  margin-bottom: none;
}
h1{
  margin-bottom: 1em;
}
.centerText{
  text-align: center;
}
.btn-primary {
  background: var(--main-color);
  border-color: var(--main-color);
}
.btn-primary:hover{
  background-color: var(--main-color-hover);
  border-color: var(--main-color-hover);
}
.alignBaseline{
  display: flex;
  
}
.alignItems{
  align-items:center;
}
.noButton{
  background: none;
  border: none;
}
.header{
  display: flex;
  align-items: center;
}

/* Page d'accueil */
.card{
  margin: 0.7em ;
  width:250px; height:500px;
}
.cardImageContainer{
  height: 65%;
  padding: 2px;
  padding-top: 6px;
}
.cardContainer{
  display: flex; 
  flex-wrap: wrap; 
  justify-content:center; 
}
.cardImage{
  max-height:100%; 
  max-width: 100%;
  width: auto; 
  display: block; 
  margin: auto;
}
.cardBody{
  height:25%
}

/* Page liste des ouvrages */
tr{
  font-size:  1.5em;
}
.listTextStyle{
  font-size: 1.2em; 
}
.listTextStyle a{
  color: black;
  text-decoration: none;
  display: flex;
}
.widthColSimple{
  flex-grow: 1;
  align-items: center;
}
.form-select{
  width: 20%;
}
.catFontSize{
  font-size: 1.2rem;
}

/* Page détails */
.resizeImage{
  max-width: 100% ;
  padding: 2em 0em;
}
.link{
  text-decoration: underline;
  color: var(--main-color);
}
.link:hover{
  color: var(--main-color-hover);
  cursor: pointer;
}

.fa{
  font-size: 1.57em;
  margin: 3.5px;
}
.fa-star{
  color: gainsboro;
}
.checked{
  color: var(--main-color);
}

/* Sur note moyenne des utilisateurs */
.noHover{
  pointer-events: none;
}

/* Source https://codepen.io/jamesbarnett/pen/vlpkh */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  margin: 5px;
  font-size: 1.25em;
  height: 100%;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color:gainsboro; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: var(--main-color);  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: var(--main-color-hover);  } 



/* Page ajouter un utilisateur */
.btnContainer{
  display: flex;
  justify-content: flex-end;
  
}
.alignBaseline{
  align-items: baseline;
}
.alignBaseline>input{
  margin: 0;
  padding: 0;
  width: auto;
  transform: scale(1.5);
  
}

/* Détails utilisateur */
.centerUserInfo{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.backgroundCircle{
  width: max-content ;
  padding: 78px 50px;
  border: 4px solid var(--main-color);
}

/* Navigation */
.nav-pills .nav-link{
  background: var(--second-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  position: static;
  width: 15em;
  margin: 0.25em;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background: var(--second-color);
  color: var(--main-color);
  font-weight: bolder;
}
.nav-link {
  color: black;
}
.nav-link:hover{
  color:var(--main-color);
}
.navContainer{
width: 80%;
justify-content: left;
}

/* Bouton de connexion */
.buttonStyle{
  color: black;
  border-color:var(--main-color);
  border-width:thin;
  padding: 12px 20px;
}
.buttonStyle:hover{
  background: var(--main-color-transparent);
}

/* Full-width input fields */
.input_conn {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

/* Styles supplémentaires pour le bouton fermer (x) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Position et image centrée */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  max-width: 90%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Model : fond */
.modal {
  display: none; /* Caché par défaut */
  position: fixed; /* Reste en place */
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; /* Largeur max */
  height: 100%; /* Hauteur max */
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* noir avec opacité */
  padding-top: 60px;
}

/* Model : contenu et boîtes */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

/* Bouton fermer (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Animation de zoom */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Styles pour les espaces et le bouton fermer pour des écrans plus petits */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* Style des formulaires */
.formMainContainer{
  display: flex;
  flex-direction: column;
}
.formContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

input{
  margin: 1em 0em;
}
textarea{
  width: 100%;
}

.formButtonBox{
  display: flex;
  justify-content: flex-end;
}
.formButtonSubmit{
  margin: 15px 0px;
  width: 15em;
}